bcloud==3.6.1
Bottleneck==0.8.0
cffi==0.8.6
cryptography==0.7.2
cssselect==0.9.1
Cython==0.21.2
docutils==0.12
ipython==2.3.1
Jinja2==2.7.3
keyring==4.0
lxml==3.4.1
MarkupSafe==0.23
matplotlib==1.4.2
numpy==1.9.1
pandas==0.15.2
ply==3.4
psutil==2.2.0
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.7a1
Pygments==2.0.1
pygobject==3.14.0
PyOpenGL==3.1.0
pyOpenSSL==0.14
pyparsing==2.0.3
pyqtgraph==0.9.10
pyserial==2.7
python-dateutil==2.4.0
pytz==2014.10
pyxdg==0.25
pyzmq==14.4.1
scipy==0.15.1
shadowsocks==2.6.5
six==1.9.0
Sphinx==1.2.3
team==1.0
tornado==4.0.2
virtualenv==12.0.5
